<!-- app/views/articles/index.html.erb -->
<h1 class="text-center">Descubre</h1>
<p class="text-center text-muted">Nuevos artículos</p>

<%= turbo_frame_tag 'home' do %>
  <div class="category-container text-center my-4" data-controller="articles-index">
    <div class="category-list">
      <%= link_to "Todo", articles_path, id: "all-categories", class: "category-button #{'selected-category' unless params[:category_id]}", data: { turbo_frame: "articles", articles_index_target: "allCategoriesButton" } %>
      <% Category.all.each do |category| %>
        <%= link_to category.name, articles_path(category_id: category.id), class: "category-button #{'selected-category' if category.id.to_s == params[:category_id]}", data: { turbo_frame: "articles", articles_index_target: "categoryButton" } %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "articles" do %>
    <%= render partial: "articles/articles_list", locals: { articles: @articles } %>
  <% end %>
<% end %>
