

<div id="<%= dom_id @article %>" class="d-flex" data-controller="article">
  <% if !@article.content.blank? %>
    <div class="content-wrapper">
      <div class="cover-image position-relative overflow-visible">
        <%= image_tag @article.cover if @article.cover.attached? %>
        <div class="root-button-wrapper">
  <%= link_to root_path, class: "root-button" do %>
    <span class="material-symbols-rounded">home</span>
  <% end %>
</div>

        <div class="cover-title">
          <h1><%= @article.title %></h1>
          <p class="text-white-50"><%= @article.created_at.strftime("%m-%Y") %> · Nicolas Bertin</p>
        </div>
        <div class="button-wrapper position-absolute">
          <div class="like-button-wrapper">
            <%= button_to like_article_path(@article), method: :post, remote: true, class: "like-button" do %>
              <span class="material-symbols-rounded <%= 'liked' if cookies[@article.id.to_s] == 'liked' %>">favorite</span>
            <% end %>
          </div>
          <div class="share-button-wrapper">
            <button id="share-button" class="share-button" data-action="click->article#share">
              <span class="material-symbols-rounded">share</span>
            </button>
          </div>
        </div>
      </div>
      <div class="d-md-flex justify-content-center">
        <div class="main-content">
          <div class="sidebar" id="article-index" data-article-target="index"></div>
          <div class="content-container trix-content">
            <div id="article-content" data-article-target="content">
              <%= @article.content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @current_user %>
  <div class="dropdown" style="text-align: center;">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Opciones
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Editar este artículo", edit_article_path(@article), class: "dropdown-item" %></li>
      <li><%= link_to "Volver a los artículos", articles_path, class: "dropdown-item" %></li>
      <li><%= link_to "Eliminar este artículo", @article, method: :delete, data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "dropdown-item" %></li>
    </ul>
  </div>
<% end %>
